Repository PageCloudv1/xcloud-bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot], @xcloud-bot

.github/CODEOWNERS:

# Global code owners
* @PageCloudv1/xcloud-team

# Bot assignments - xCloud Bot can be assigned to any file
* @xcloud-bot[bot]
* @xcloud-bot

# Specific areas
/.github/ @PageCloudv1/xcloud-team @xcloud-bot[bot]
/src/ @PageCloudv1/xcloud-team @xcloud-bot[bot]
/scripts/ @PageCloudv1/xcloud-team @xcloud-bot[bot]

# Documentation
*.md @PageCloudv1/xcloud-team @xcloud-bot[bot]
/docs/ @PageCloudv1/xcloud-team @xcloud-bot[bot]

# Configuration files
package.json @PageCloudv1/xcloud-team @xcloud-bot[bot]
*.yml @PageCloudv1/xcloud-team @xcloud-bot[bot]
*.yaml @PageCloudv1/xcloud-team @xcloud-bot[bot]

Add GitHub App setup files
  GITHUB_APP_SETUP.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update .env and gemini-dispatch.yml for GitHub App configuration and localization
  .env
  .github/workflows/gemini-dispatch.yml
Owners: @xcloud-bot, @PageCloudv1/xcloud-team, @xcloud-bot[bot]

docs: add initial status report for xCloud Bot setup
  BOT_STATUS_REPORT.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Enhance task summary generation with success rate, file changes, and test additions
  src/agents/AutonomousAgent.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Change GITHUB_APP_ID in .env file
  .env
Owners: @xcloud-bot

Refactor: Padronizar workflows do GitHub Actions
  .github/workflows/autonomous-agent.yml
  .github/workflows/bot_integration.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-gemini-cli.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/issue-management.yml
  .github/workflows/setup-bot.yml
  src/utils/github_agent_handler.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update src/utils/github_agent_handler.js
  src/utils/github_agent_handler.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update src/utils/github_agent_handler.js
  src/utils/github_agent_handler.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update .github/workflows/enhanced-gemini-cli.yml
  .github/workflows/enhanced-gemini-cli.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update src/utils/github_agent_handler.js
  src/utils/github_agent_handler.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update src/utils/github_agent_handler.js
  src/utils/github_agent_handler.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Add GitHub App setup files
  GITHUB_APP_SETUP.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Remove .env file from repository
  .env
Owners: @xcloud-bot

📚 Add security documentation for environment setup
  SECURITY_ENV_SETUP.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🧹 Add comprehensive branch cleanup report
  BRANCH_CLEANUP_REPORT.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🧹 Massive remote branches cleanup - 84% reduction
  REMOTE_CLEANUP_REPORT.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Migrate environment variables from GITHUB_ to GH_ prefix
  AUTONOMOUS_AGENT_GUIDE.md
  AUTONOMOUS_AGENT_SUMMARY.md
  BOT_NOT_RESPONDING.md
  DEPLOYMENT.md
  GITHUB_APP_SETUP.md
  GITHUB_BOT_SETUP_GUIDE.md
  QUICK_START.md
  README.md
  REGISTRATION_CHECKLIST.md
  REGISTRATION_IMPLEMENTATION_SUMMARY.md
  SECURITY_ENV_SETUP.md
  TROUBLESHOOTING_SETUP.md
  WORKFLOW_ORGANIZATION_GUIDE.md
  WORKFLOW_SUMMARY.md
  deploy-guide.md
  scripts/debug-bot-assignment.js
  scripts/expand-to-repo.js
  scripts/register-github-app.cjs
  scripts/test-autonomous-agent.js
  scripts/validate-github-app.cjs
  src/agents/AutonomousAgent.js
  src/bot/github-app.js
  src/bot/scheduler.js
  src/config/github-app.js
  src/integrations/github-api.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Migrate environment variables from GITHUB_ to GH_ prefix in .env.example
  .env.example
Owners: @xcloud-bot

Add GitHub App setup files
  GITHUB_APP_SETUP.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update environment variable references from APP_ID to GH_APP_ID in gemini-invoke.yml
  .github/workflows/gemini-invoke.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update environment variable references from GITHUB_ to GH_ prefix in gemini-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update environment variable reference from APP_ID to GH_APP_ID in gemini-triage.yml
  .github/workflows/gemini-triage.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update environment variable references from GITHUB_ to GH_ prefix in register-github-app.yml
  .github/workflows/register-github-app.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Fix output variable reference and refactor registration instructions in register-github-app.yml
  .github/workflows/register-github-app.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update GitHub token reference in register-github-app.yml
  .github/workflows/register-github-app.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

🔒 Update GEMINI_MODEL to 'gemini-2.5-flash' and change GITHUB_TOKEN to GH_TOKEN in workflows
  .github/workflows/gemini-invoke.yml
  .github/workflows/issue-management.yml
  src/services/ai-service.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Refactor GitHub workflows for issue management and bot setup
  .eslintrc.cjs
  .github/workflows/autonomous-agent.yml
  .github/workflows/bot_integration.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-gemini-cli.yml.bak
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/issue-management.yml
  .github/workflows/setup-bot.yml
  WORKFLOWS.md
  package.json
  src/utils/github_agent_handler.js
Owners: @xcloud-bot, @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Remove obsolete GitHub workflow files for CI, CD, build, and deployment
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/enhanced-gemini-cli.yml.bak
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Refactor issue management workflow and add manual review process
  .github/workflows/issue-management.yml
  .github/workflows/manual-review.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Refactor manual review workflow and update issue management documentation
  .github/workflows/manual-review.yml
  SMART_ISSUES_GUIDE.md
  WORKFLOWS.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update Gemini model to 2.5-flash and enhance issue management documentation
  .github/workflows/gemini-invoke.yml
  .github/workflows/issue-management.yml
  .github/workflows/manual-review.yml
  SMART_ISSUES_GUIDE.md
  WORKFLOWS.md
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update issue-management.yml
  .github/workflows/issue-management.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Refactor issue management workflow for xCloud team
  .github/workflows/issue-management.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update issue-management.yml
  .github/workflows/issue-management.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Refactor token variable names from GITHUB_TOKEN to GH_TOKEN in workflow files
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/issue-management.yml
  .github/workflows/manual-review.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Set gemini_debug to true in gemini-invoke.yml and update issue management workflow instructions for clarity
  .github/workflows/gemini-invoke.yml
  .github/workflows/issue-management.yml
  .github/workflows/manual-review.yml
  src/services/ai-service.js
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Update issue management instructions for security issues and add GEMINI_API_KEY to secrets
  .act-secrets
  .github/workflows/issue-management.yml
Owners: @xcloud-bot, @PageCloudv1/xcloud-team, @xcloud-bot[bot]

Remove GEMINI_API_KEY from secrets file for security compliance
  .act-secrets
Owners: @xcloud-bot

fix: corrigir referências de arquivo e token no workflow register-github-app
  .github/workflows/register-github-app.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]

fix: usar token padrão do GitHub Actions no checkout
  .github/workflows/register-github-app.yml
Owners: @PageCloudv1/xcloud-team, @xcloud-bot[bot]
